<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bestand Stream
  </h1>
</div>

<p-button (onClick)="vollepulle()" label="Volle Pulle"></p-button>
<p-button (onClick)="volle1000()" label="1000 Messages"></p-button>
<p-button (onClick)="letzermongo()" label="letzer Eintrag Mongo"></p-button>
<textarea rows="10" cols="30" pInputTextarea [(ngModel)]="publishcount">></textarea>
<p-chart #progresschart type="bar" [width]="400" [height]="400"  [data]="data" [options]="chartOptions"></p-chart>
<p-chart #bestandchart type="bar" [width]="400" [height]="400"  [data]="bestanddata" [options]="bestandChartOptions"></p-chart>
