<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bestand Stream
  </h1>
</div>

<div class="ui-g">
  <div class="ui-g-2">
    <p-button (onClick)="vollepulle()" label="Volle Pulle"></p-button>
  </div>
  <div class="ui-g-2">
    <p-button (onClick)="volle1000()" label="1000 Messages"></p-button>
  </div>
  <div class="ui-g-2">
    <p-button (onClick)="letzermongo()" label="letzer Eintrag Mongo"></p-button>
  </div>
  <div class="ui-g-2">
    <textarea rows="1" cols="50" pInputTextarea [(ngModel)]="publishcount">></textarea>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6">
    <p-chart #progresschart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="ui-g-6">
    <p-chart #bestandchart type="bar" [data]="bestanddata" [options]="bestandChartOptions"></p-chart>
  </div>
</div>
