# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle_save/
/bestand-kafka/publishwarenbewegungen/out/
/bestand-kafka/publishwarenbewegungen/gradle/
/bestand-kafka/publishwarenbewegungen/build/
/bestand-kafka/publishwarenbewegungen/.gradle/
/bestand-kafka/subscribewarenbewegungenmongo/.gradle/
/bestand-kafka/subscribewarenbewegungenmongo/build/
/bestand-kafka/subscribewarenbewegungenmongo/gradle/
/bestand-kafka/subscribewarenbewegungenmongo/out/
/bestand-kafka/subscribewarenbewegungenstreamprocessor/.gradle/
/bestand-kafka/subscribewarenbewegungenstreamprocessor/build/
/bestand-kafka/subscribewarenbewegungenstreamprocessor/gradle/
/bestand-kafka/subscribewarenbewegungenstreamprocessor/out/
/bestand-kafka/publishwarenbewegungen/publishwarenbewegungen.iml
/bestand-kafka/subscribewarenbewegungenstreamprocessor/src/main/main.iml
/docker/docker.iml
/bestand-kafka/publishwarenbewegungen/src/main/resources/Warenbewegungen_Intrastat_20180323_090001.csv
/bestand-kafka/subscribewarenbewegungenmongo/src/main/main.iml
