<!--<configuration>-->

    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--&lt;!&ndash; This is the kafkaAppender &ndash;&gt;-->
    <!--<appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
        <!--<topic>logs</topic>-->
        <!--<keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />-->
        <!--<deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />-->

        <!--&lt;!&ndash; Optional parameter to use a fixed partition &ndash;&gt;-->
        <!--&lt;!&ndash; <partition>0</partition> &ndash;&gt;-->

        <!--&lt;!&ndash; Optional parameter to include log timestamps into the kafka message &ndash;&gt;-->
        <!--&lt;!&ndash; <appendTimestamp>true</appendTimestamp> &ndash;&gt;-->

        <!--&lt;!&ndash; each <producerConfig> translates to regular kafka-client config (format: key=value) &ndash;&gt;-->
        <!--&lt;!&ndash; producer configs are documented here: https://kafka.apache.org/documentation.html#newproducerconfigs &ndash;&gt;-->
        <!--&lt;!&ndash; bootstrap.servers is the only mandatory producerConfig &ndash;&gt;-->
        <!--<producerConfig>bootstrap.servers=kafka:9092</producerConfig>-->

        <!--&lt;!&ndash; this is the fallback appender if kafka is not available. &ndash;&gt;-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</appender>-->

    <!--<root level="info">-->
        <!--<appender-ref ref="kafkaAppender" />-->
    <!--</root>-->
<!--</configuration>-->